body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}
html {
    height: 100%;
}

nav {
    border-bottom: solid 1px #dadada;
    padding: 16px;
}

nav a:hover {
    background: #f5f5f5;
}
nav a.active {
    text-decoration: underline;
}
nav a {
    padding: 16px;
    cursor: pointer;
}

auth-navigation {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

input {
    padding: 10px;
}

button:hover {
    background: #e8e8e8;
}
button {
    transition: background 0.2s;
    padding: 11px 32px;
    cursor: pointer;
    background: #f5f5f5;
    border: solid 1px #d4d4d4;
}
.input-label {
    width: 150px;
    display: inline-block;
}
auth-user-list,
auth-realm-list {
    display: flex;
    height: 100%;
}

.user-list > div:hover,
.realm-list > div:hover {
    background: #f5f5f5;
}
.user-list > div,
.realm-list > div {
    padding: 16px 21px;
    cursor: pointer;
}

.user-list,
.realm-list {
    width: 150px;
    border-right: solid 1px #d4d4d4;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.actions {
    border-bottom: solid 1px #dadada;
    border-top: solid 1px #dadada;
    padding: 8px 0;
    margin: 8px 0;
    align-items: center;
    display: flex;
}
.actions .headline {
    font-weight: bold;
}
.input-wrapper {
    min-height: 40px;
    display: flex;
    align-items: center;
}

auth-user-info,
auth-user-create,
auth-realm-info,
auth-realm-create {
    padding: 8px 16px;
    flex: 1 1 auto;
}
