#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.notification {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 10px;
    right: 10px;
    padding: 14px 16px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    min-width: 200px;
}
.notification.success::before,
.notification.failure::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
}
.notification.success::before {
    background: var(--success-color);
}
.notification.failure::before {
    background: var(--failure-color);
}
html,
body {
    margin: 0;
    height: 100%;
    --font-color: #30373d;
    --success-color: #a0cf27;
    --failure-color: #ee6c4d;
    --bg-color: #478387;
    --primary-color: #094d92;
}

section {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
input:focus {
    outline: none;
    border-bottom: solid 1px var(--primary-color);
}
input {
    border: solid 1px lightgray;
    padding: 10px;
    min-width: 0;
}
button:focus {
    outline: none;
}
button {
    padding: 10px 36px;
    background: var(--primary-color);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.5);
}
button.warning {
    color: var(--failure-color);
    background: white;
}

.fade-enter-active {
    transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.card h1 {
    margin-top: 0;
}
.card .sub-header {
    margin-top: 24px;
}
.card {
    padding: 24px;
    margin: 16px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
